@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.eot');
    src: url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.eot?iefix') format('eot'),
    url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.woff') format('woff'),
    url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.ttf') format('truetype'),
    url('http://www.midwinter-dg.com/blog_demos/css-text-shadows/fonts/chunkfive-webfont.svg#webfont6hibqX7I') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    background: url("../img/BG.png") no-repeat;
    background-size: 100% 100%;
    height: 100%;
    overflow: hidden;
}

#play {
    position: fixed;
}

#play:hover {
    transition: 0.2s;
    transform: scale(1.05, 1.05);
}

#play:active {
    transition: 0.1s;
    transform: scale(0.95, 0.95);
}

#symbolSelect {
    width: 20%;
    height: 8%;
}

#symbol {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.shrink {
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    opacity: 0;
}

#bigInfo {
    transition: 0.5s;
    opacity: 0;
    text-align: center;
    vertical-align: middle;
    text-shadow: 0 1px 0 #999, 0 2px 0 #888, 0 3px 0 #777, 0 4px 0 #666, 0 5px 0 #555, 0 6px 0 #444, 0 7px 0 #333, 0 8px 7px #001135;
    font: 80px 'ChunkFiveRegular';
}

.visible {
    opacity: 1 !important;
}

/* copied */

#symbolSelect {
    background: linear-gradient(rgb(175, 216, 139), rgb(82, 162, 40));
    border: 2px solid black;
    border-radius: 10px;
    height: 29px;
    text-align: center;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 268px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#symbolSelect:focus {
    background: green;
}
